* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    overflow-x: hidden; /* cuz it appears wider on safari tahn actually is? maybe with only x-axis??=*/
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    gap: 2rem;
    overflow-x: hidden; /* same as in html*/
    width: 100vw;
    background-color: #f8f9fa; /* was #f8f9fa - #e8e8e8*/ /*for dark: #212121 ? */
}
header {
    width: 100%;
    height: 10rem;
    margin: 0 0 2.5rem 0;
    background-color: #b7bbd3; /* it think #212121 looks better - but has to look different in dark mode then*/
    justify-content: center;
}

#header-pic {
    color: #db4fd4;
    width: fit-content;
    height: 90px;
    margin:0 2.25rem 0 2rem;
}


header .firstHeading {
    margin-top: 1rem;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: Orbitron;
    margin: 1rem 0;
}
h1 span {
    font-weight: 900;
    text-shadow: 2.55px 0 black;
}
h3 {
    font-family: Orbitron;
    margin: -0.5rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 727.5px; /* otherwise when DECODE -> gets squished*/
}

.encode-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 0 0 1rem 0;
}

.decode-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    padding: 0 0 1rem 0;
}
#image-preview-container {
    display: none; /* only display when image is inputted so that whitespace is avoided*/
    width: 200px;
    height: 150px;
}
#image {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    object-fit: contain;
    /* max-width: 100%; 
    max-height: 100%; 
    display: flex;
    margin: auto; */
}
.svg {
    height: 2.25rem;
    width: fit-content;
}

.tab button.active {
  border-bottom: solid 5px#db4fd4;
  color: #db4fd4;
  font-weight: 900;
}

.tabField {
    border-radius: 8px;
    width: 6rem;
    height: 3rem;
    background-color: #C9C9C9;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-family: Orbitron;
}

.tabContent {
    display: none;
}

/* tab smaller than dropzone */
.tab {
    border-radius: 7px;
    width: 32%;
    height: auto;
    margin: 0 0 3rem 0;
    padding: 0.75rem 0.5rem;
    display: flex;
    justify-content: center;
    background-color: #e9ecef;
}
#imageInput {
    height: 5rem;
    width: 100%;
}
.fileInput {
    display: none;
}
.fileInputButton {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ADB2D4;
    font-weight: 700;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border: solid 2px #ADB2D4;
    border-radius: 7px;
}
.fileInputButton:hover {
    background-color: #ADB2D4;
    color: whitesmoke;
}
.dragndrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed 2.5px #ADB2D4;
    border-radius: 10px;
    width: 50%;
    height: auto;
    min-height: 11rem;
    background-color: #c0c5ce17;
    margin: 0 0 3rem 0;
    gap: 2rem;
}
.dragndrop p {
    font-weight: 600;
}
.input-container {
    width: 60%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box input {
    border-radius: 10px;
    height: 4em;
    width: 100%;
    text-align: center;
    border: 1px gray solid;;
    background-color: #f1f3f5;
}

.input-box input:focus {
    outline: none;
    border: 2px #ADB2D4 solid;
}

/* test input*/

.group {
  display: flex;
  line-height: 40px;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.input {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  padding-left: 3rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: .5s ease;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus, input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}

.icon-larger {
  position: absolute;
  left: 1rem;
  top: 1rem;
  fill: black 0.5px;
  width: 1.9rem;
  height: 2rem;
}
/**/

/*DECODE-SECTION*/

#decodeButton {
    margin: 2rem;
}

/* */
.en-decode-btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0; 
    align-items: center;
}
.button {
    width: 10rem;
    padding: 0.5rem;
}
canvas {
    display: none;
}
.infoBox{
    margin-top: 5rem;
    border-radius: 10px;
    width: 30rem;
    height: 10rem;
    background-color: #adb2d488;
}
footer {
    position: relative;
    min-height: 4rem;
    background-color: #b7bbd3;
    bottom: 0;
    display: flex; /*was flex*/
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}